<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" >Tasks_Name</th>
      <th scope="col" >Tasks_Details</th>
      <th scope="col"><%=link_to "Deadilne", tasks_path(sort_expired: "true") %></th>
      <th scope="col">Statuts</th>
      <th scope="col"><%=link_to "Priority", tasks_path(sort_priority: "true")%></th>
    </tr>
  </thead>
  <tbody>
      <%@tasks.each do |task|%>
    <tr>
      <td><%=link_to "#{task.name}", task_path(task.id)%></td>
      <td><%=task.detail%></td>
      <td><%=task.deadline%></td>
      <td><%=task.statut%></td>
      <td><%=task.priority%></td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="page">
  <%= paginate @tasks %>
</div>

